[submodule "multilabel/multilabel/multioutput-classification-environmental-classification"]
	path = multilabel/multilabel/multioutput-classification-environmental-classification
	url = https://github.com/PrachitiSParulekar/multioutput-classification-environmental-classification.git
